html, body {
    margin: 0;
    height: 100%;
    background-color: #9a8900;
    font-family: 'Permanent Marker', cursive;
}

h1 {
    text-align: center;
    font-size: 5em;
    user-select: none;
}

h1 span {
    display: inline-block;
    animation: float .2s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: none;
    }
    33% {
        transform: translateY(-1px) rotate(-2deg);
    }
    66% {
        transform: translateY(1px) rotate(2deg);
    }
}

body:hover span {
    animation: bounce .6s;
}

@keyframes bounce {
    0%, 100% {
        transform: translate(0);
    }
    25% {
        transform: rotateX(20deg) translateY(2px) rotate(-3deg);
    }
    50% {
        transform: translateY(-20px) rotate(3deg) scale(1.1);
    }
}

span:nth-child(4n) {
    color: hsl(50, 75%, 55%);
    text-shadow: 1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%), 3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%);
}

span:nth-child(4n-1) {
    color: hsl(135, 35%, 55%);
    text-shadow: 1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%), 3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%);
}

span:nth-child(4n-2) {
    color: hsl(155, 35%, 60%);
    text-shadow: 1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%), 3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%);
}

span:nth-child(4n-3) {
    color: hsl(30, 65%, 60%);
    text-shadow: 1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%), 3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%);
}

h1 span:nth-child(2) {
    animation-delay: .01s;
}

h1 span:nth-child(3) {
    animation-delay: .1s;
}

h1 span:nth-child(4) {
    animation-delay: .15s;
}

h1 span:nth-child(5) {
    animation-delay: .2s;
}

h1 span:nth-child(6) {
    animation-delay: .25s;
}

h1 span:nth-child(7) {
    animation-delay: .3s;
}

h1 span:nth-child(8) {
    animation-delay: .1s;
}



.flex-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.add-todo-wrapper {
    display: flex;
    width: 500px;
    min-height: 40px;
    align-items: center;
    background-color: #fc6d00;
    border-radius: 5px;
    padding: 10px;
}

.input-wrapper {
    width: 80%;
}

.input-wrapper input {
    width: 100%;
    height: 25%;
}

.button-wrapper {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.button-wrapper button {
    width: 80%;
    background-color: #fffb00;
    color: #000000;
    outline: none;
    border: none;
    height: 25px;
    cursor: pointer;
    border-radius: 50px;

}

.button-wrapper button:focus {
    background-color: #f3c800;
}

.button-wrapper button:hover {
    background-color: #f3c800;
}

.todo-item {
    display: flex;
    width: 500px;
    min-height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: orange;
}

.todo-item.checked {
    background-color: #366868;
    opacity: 0.5;
}

.todo-item.delition {
    animation: opacity 1s ease-in-out;
}

.description {
    width: 80%;
    display: flex;
    align-items: center;
    color: floralwhite;
}

.buttons {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.buttons input {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.buttons button {
    outline: none;
    border: none;
    background-color: crimson;
    color: floralwhite;
    cursor: pointer;
    height: 25px;
    border-radius: 5px;
}

@keyframes opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
